@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Yellowtail&dsplay=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 75%; }

body {
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

.h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem; }

.h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem; }

a {
  color: #2e3270; }
  a:hover {
    color: #6066be; }

button {
  padding: 10px;
  background-color: #b9b9b9;
  border: none; }
  button:hover {
    font-weight: bold; }

body {
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

input {
  background-color: silver;
  border: 1px solid #434343;
  border-radius: 5px;
  padding: 5px;
  color: white; }
  input.is-double {
    width: 50%; }

.pull-left {
  float: left; }

.pull-right, .news--more {
  float: right; }

/**
* Font size media queries
*/
@media all and (min-width: 1000px) {
  .h1 {
    font-size: 4rem; }

  .h2 {
    font-size: 3rem; } }
.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative; }
  .col--halves {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }
  .col--quarters {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%; }
  .col--thirds {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%; }

.flex-grid {
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

@media (max-width: 1000px) {
  .flex-grid,
  .col {
    display: block; }
    .flex-grid .col,
    .col .col {
      width: 100%;
      margin: 0 0 10px 0; } }
.nav {
  background-color: #5b5b5b;
  padding-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 100px;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase; }
  .nav--item {
    color: white;
    display: block;
    padding: 25px;
    background-color: #393939;
    -webkit-box-shadow: 2px 2px #434343;
            box-shadow: 2px 2px #434343;
    text-decoration: none; }
    .nav--item:hover {
      background-color: #ffffff;
      color: #2e3270;
      -webkit-box-shadow: 2px 2px #b9b9b9;
              box-shadow: 2px 2px #b9b9b9; }
    .nav--item.is-active {
      display: block;
      font-weight: bold;
      background-color: #2e3270;
      border-bottom: 2px solid #ffffff; }

@media (max-width: 999px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #838383; }
    .nav--item {
      font-size: 1.1rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0; } }
.card, .news {
  min-height: 250px;
  margin: 10px;
  background-color: rgba(67, 67, 67, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat; }

.news--cat {
  font-size: 1.3rem;
  padding: 5px 5px 5px 75px;
  margin-top: 1rem;
  background-color: #ffffff;
  position: absolute;
  top: 20px; }
.news--date {
  position: absolute;
  padding: 5px 75px 5px 5px;
  margin-top: 1rem;
  font-size: 1.3rem;
  background-color: #ffffff;
  text-align: right;
  top: 20px;
  right: 0; }
.news--titles {
  margin-top: 25%;
  max-width: 45%;
  background-color: #ffffff;
  padding: 1rem;
  text-align: right; }
.news--content {
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: left; }
.news--more {
  font-size: 1.25rem;
  padding: 20px;
  text-align: right; }

@media (max-width: 999px) {
  .news {
    padding-top: 25%; } }
.is-error {
  color: red;
  background-color: #6066be; }

.is-warning {
  color: orange;
  background-color: #ffd280; }

.is-active {
  background-color: #f55; }

/*# sourceMappingURL=styles.css.map */