<header>
    <img class="news--image" src="./images/Rectangle-1920x1080-Placeholder.png" alt="Test">
    <span class="news--cat">Categorie</span>
    <span class="news--date">23 septembre 1928</span>
    <div class="news--titles">
        <h1 class="news--titre h1">Grand titre</h1>
        <h2 class="news--sub h2">Sous-sitre</h2>
    </div>
</header>
<section class="news--content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, totam ipsa
    odio cum mollitia sit aliquam, modi assumenda eos, commodi suscipit dolor ullam nesciunt? Laborum harum porro
    assumenda fugiat quam.</section>
<a class="news--more" href="#">En savoir plus</a>
